*, html{
	margin: 0px;
	padding: 0px;

}

#home{
	background: url(img/bg_home.jpg) 50% no-repeat fixed;
	background-position: 0px 0px;  /*posicion de la imagen en (x,y)*/
}
#seccion1{
	background: url(img/bg_1.jpg) 50% no-repeat fixed;
}
#seccion2{
	background: url(img/bg_2.png) 50% no-repeat fixed;
}
#seccion3{
	background: url(img/bg_3.jpg) 50% no-repeat fixed;
}
#seccion4{
	background: url(img/bg_4.jpg) no-repeat fixed;
	/*background-position: 0px 0px; posicion de la imagen en (x,y)*/
}

#seccion5{
	background: url(img/bg_5.jpg) 50% 0 no-repeat fixed;
}
#seccion6{
	background: url(img/bg_6.jpg) 50% 0 no-repeat fixed;
}
#footer{
	/*background-color: #000000;
	url(img/bg_footer.jpg) no-repeat fixed;
	background-position: 0px 380px;*/
	 /*posicion de la imagen en (x,y)*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+21,a90329+30,6d0019+55 */
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 21%, rgba(169,3,41,1) 30%, rgba(109,0,25,1) 55%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 21%,rgba(169,3,41,1) 30%,rgba(109,0,25,1) 55%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 21%,rgba(169,3,41,1) 30%,rgba(109,0,25,1) 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}


#home, #seccion1, #seccion2, #seccion3,#seccion4, #seccion5, #seccion6{
		margin: 0px;
		max-width: 1920px;
		min-height: 700px;
		position: relative;
		-webkit-background-size: cover;
		-o-background-size: cover;	
}


#footer{
		margin: 0px ;
		max-width: 1920px;
		min-height: 300px;
		position: relative;
		-webkit-background-size: 100% 450px; /*modifica el ttamaño de la img*/
		-o-background-size: cover;
}

